@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f3f2eb;
  --foreground-color: #1c1a17;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
