@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --foreground-color: #121212;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
